.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h1 {
  font-family: "Eczar", serif;
  font-weight: 800;
  color: #4b5b41;
  margin-bottom: 0rem;
  display: flex;
  flex-direction: column;
}

.form {
  position: absolute;
  top: 300px;
  left: 15%;
  width: 70%;
  background-color: #d9cbb0;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

label {
  font-size: 15px;
  text-align: left;
  color: #000000;
}

legend {
  font-size: 28px;
  color: #4b5b41;
  justify-content: center;
}

input {
  display: block;
  margin: 10px auto;
  padding: 4px;
  max-width: 458px;
  width: 100%;
  height: 30px;
  border: 1px solid #0e535e;
  box-sizing: border-box;
  border-radius: 8px;
}

.form-container {
  background: #d9cbb0;
}

.form-group {
  width: 0 auto;
  height: auto;
}

.form-group .formContainer {
  width: 50%;
  text-align: left;
  margin-left: 1.5rem;
}

.editButton {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  align-content: center;
  border: none;
  text-decoration: none;
  background-color: red;
}

.hidden {
  visibility: hidden;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background: #0e535e;
}
nav .dropdown {
  overflow: hidden;
}
@media (min-width: 501px) {
  nav .dropdown:hover .dropContent {
    display: flex;
    flex-direction: column;
    font-family: "Eczar", serif;
    font-size: 2.8rem;
  }
}
nav .dropdown .dropContent {
  display: none;
  position: absolute;
  z-index: 1;
}
@media (max-width: 500px) {
  nav .dropdown .dropContent {
    position: static;
  }
}
nav .dropdown .dropContent a {
  background: #0e535e;
  color: #d9cbb0;
  padding: 2rem 4rem;
  margin-left: 10rem;
  text-decoration: none;
}
@media (max-width: 500px) {
  nav .dropdown .dropContent a {
    padding: 0 0;
    padding-bottom: 2rem;
    margin: 0 auto;
    font-size: 2rem;
  }
}
nav .dropdown .dropContent a:hover {
  color: #e3d9c5;
  font-weight: bolder;
}
@media (max-width: 500px) {
  nav .dropdown .dropContent {
    display: flex;
    flex-direction: column;
  }
}
nav .dropdown .button {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  align-content: center;
  background: #0e535e;
  border: none;
  color: #d9cbb0;
  text-decoration: none;
}
nav .dropdown .button h1 {
  font-size: 6rem;
  color: #d9cbb0;
  margin: 0px 0px;
}
nav .dropdown .button h1:hover {
  color: #e3d9c5;
  font-weight: bolder;
}
nav .dropdown .button img {
  width: 10rem;
  margin: 1rem;
}
@media (max-width: 500px) {
  nav .dropdown .button img {
    width: 50%;
  }
}
@media (max-width: 500px) {
  nav .dropdown .button {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  nav {
    display: flex;
    justify-content: center;
  }
}
.login {
  display: flex;
  justify-content: flex-end;
}
.login a {
  display: flex;
  justify-content: flex-end;
  color: #d9cbb0;
  font-family: "Eczar", serif;
  font-size: 4rem;
  text-decoration: none;
}
.login a:hover {
  color: #e3d9c5;
  font-weight: bolder;
}
@media (max-width: 500px) {
  .login {
    display: none;
  }
}
